{%extends 'base.html'%}
{%block title%}
job list
{%endblock%}

{%block content%}
{% if latest_job %}
    <!-- <ul> -->
    {% for job in latest_job %}
    
    <div class="card w-75 mb-2" style="margin:5px">
        <div class="card-body">
            <h5 class="card-title">
                {{ job.job_title}}
            </h5>
            <p class="card-text">
                {{job.job_description}}
                
            </p>
            <span>
                Date limite: {{job.proposal_expired_date}}
            </span> <hr>
            <a href="#" class="btn btn-primary">Get this job</a>
        </div>
    </div>
    {% endfor %}
    <!-- </ul> -->
{% else %}
    <p>No job are available.</p>
{% endif %}
{%endblock%}