{% extends 'base.html' %}

{%block title%}
    Job share
{%endblock%}

{%block content%}
{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'main_app/css/style.css' %}"> -->
<div class="app_content">
    
    
    <div class="job_urgent">
        {% if job_urgent %}
        <div class="row" style="padding-left: 5px;padding-right: 5px;">
            {%for urgent_job in job_urgent%}
                <div class="col-sm-6 ">
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    </div>
                </div>
            {%endfor%}
        </div>
        {% else %}
            <p>No urgent job are available.</p>
        {% endif %}
        <div style="text-align:center">
            <a class="link-primary" href={%url 'proposal_job_management:list_job'%}>Voir toute les offres d'emploi</a>

        </div>
    </div>
    <div class="last_formation">
        <h2>
            Les dernieres formations
        </h2>
        {% if latest_formations %}
        <div class="row" style="padding-left: 5px;padding-right: 5px;">
            {%for formations in latest_formations%}
                <div class="col-sm-6 ">
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{formations.name}}</h5>
                        <p class="card-text">
                            {{formations.descriptions}}
                        </p>
                        <a href="#" class="btn btn-primary">Get this formation</a>
                    </div>
                    </div>
                </div>
            {%endfor%}
        </div>
        {%else%}
        <span>No formations yet</span>
        {%endif%}
        <div style="text-align:center">
            <a class="link-primary" href={%url 'proposal_job_management:list_job'%}>Voir toute les offres de formation</a>
        </div>
    </div>
    <div class="job_popular">
        <h2>
            Les secteurs populaire
        </h2>
    </div>
</div>
{%endblock%}